%head
	%title Cairn
	= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
	-if @google_map = true
		= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAYQDEv0bZNaE9pQEZXOYQbaSVQ2grJ8fg&sensor=true"
	= javascript_include_tag "application", "data-turbolinks-track" => true
	= csrf_meta_tags
%body.container-fluid{:class => @admin_page ? 'admin-page' : 'standard-page'}
	.col-md-1
	.col-md-10{:style => "height:100%;"}
		.container-fluid{:style => "height:100%;"}
			#page-header
				= render :partial => '/skeleton/page_header'
			#page-body
				.container-fluid{:style => "height:100%;"}
					= yield
	.col-md-1